<div class="slideshow-container">
    <img class="mySlides" src="/photos/person.jpg" alt="">
    <img class="mySlides" src="/photos/products.jpg" alt="">
    <img class="mySlides" src="/photos/person3.jpg" alt="">
</div>

<<<<<<< HEAD
<div class="description">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae molestias ipsum maxime, blanditiis cum
        fugiat impedit quidem eos distinctio nemo eligendi dignissimos quibusdam accusamus ducimus perferendis a natus
        soluta dolores.
    </p>
</div>
=======
<main>
    <div class="description">
        <p>
            Combo skincare is an application to help you regain control of your skincare routine! After creating an account, you'll be able to enter all of your products and have them returned to you in the order in which you should use them. No more confused mornings or nights wondering if you should use your cleanser or toner first! Create an account now and take control of your skin!
        </p>
    </div>
>>>>>>> 8c99ef4ad60c3009327216a49477b0a91f1261dc

<script src="/js/home.js"></script>