<div class="slideshow-container">
    <img class="mySlides" src="/photos/hero1.jpg" alt="Skincare image" style="display: block; opacity: 1;">
    <img class="mySlides" src="/photos/hero2.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero3.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero4.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero5.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero6.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero7.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero8.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero9.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero10.jpg" alt="Skincare image">
    <img class="mySlides" src="/photos/hero11.jpg" alt="Skincare image">
</div>

<<<<<<< HEAD
<div class="description">
    <p>
        Porefect is an application to help you regain control of your skincare routine! After creating an account, you'll be able to enter all of your products and have them returned to you in the order in which you should use them. No more confused mornings or nights wondering if you should use your cleanser or toner first! Create an account now and take control of your skin!
    </p>
</div>
=======
<main>
    <div class="description">
        <p>
            Combo skincare is an application to help you regain control of your skincare routine! After creating an account, you'll be able to enter all of your products and have them returned to you in the order in which you should use them. No more confused mornings or nights wondering if you should use your cleanser or toner first! Create an account now and take control of your skin!
        </p>
    </div>
>>>>>>> 8c99ef4ad60c3009327216a49477b0a91f1261dc

<script src="/js/home.js"></script>