<div class="hero" alt="">
</div>

<main>
    <div class="description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae molestias ipsum maxime, blanditiis cum fugiat impedit quidem eos distinctio nemo eligendi dignissimos quibusdam accusamus ducimus perferendis a natus soluta dolores.
        </p>
    </div>

    <footer>
        <h3>Made By Isis, Eli, Nate, and Jaden</h3>
        <h3>Shoutout to Eli's GF!</h3>
    </footer>