<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="./photos/person.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="./photos/products.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="./photos/person3.jpg" style="width:100%">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<main>
    <div class="description">
        <p>I'm baby lorem sint fam fixie irure, non chambray taxidermy godard slow-carb aesthetic semiotics. Subway
            tile
            fingerstache disrupt poutine microdosing. Trust fund ex copper mug stumptown squid. Swag letterpress
            activated
            charcoal typewriter truffaut before they sold out dreamcatcher affogato. Put a bird on it cronut in
            culpa, dolor.</p>
    </div>

    <footer>
            <h5 id="credit">Made By
                <a id="github" href="https://github.com/QueenOfBirbs" target="_blank">Isis</a>,
                <a id="github" href="https://github.com/MrEliWood" target="_blank">Eli</a>,
                <a id="github" href="https://github.com/jittel" target="_blank">Nate</a>, and
                <a id="github" href="https://github.com/eminss" target="_blank">Jayden</a>
            </h5>
            <h5 id="shoutout">Shoutout to Eli's GF!</h5>
        </footer>