<div class="hero" alt="">
</div>

<main>
    <div class="description">
        <p>I'm baby lorem sint fam fixie irure, non chambray taxidermy godard slow-carb aesthetic semiotics. Subway
            tile
            fingerstache disrupt poutine microdosing. Trust fund ex copper mug stumptown squid. Swag letterpress
            activated
            charcoal typewriter truffaut before they sold out dreamcatcher affogato. Put a bird on it cronut in
            culpa, dolor.</p>
    </div>

    <footer>
        <h1>Made By Isis, Eli, Nate, and Jaden</h1>
        <h1>Shoutout to Eli's GF!</h1>
    </footer>