<div class="slideshow-container">
    <img class="mySlides" src="/photos/person.jpg" alt="">
    <img class="mySlides" src="/photos/products.jpg" alt="">
    <img class="mySlides" src="/photos/person3.jpg" alt="">
</div>

<div class="description">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae molestias ipsum maxime, blanditiis cum
        fugiat impedit quidem eos distinctio nemo eligendi dignissimos quibusdam accusamus ducimus perferendis a natus
        soluta dolores.
    </p>
</div>

<script src="/js/home.js"></script>