{{!-- headline --}}
<h1 class="text-center">Login</h1>

{{!-- login form --}}
<container class="row align-items-center justify-content-center">

    <form id="loginSubmit">

        <div>
            <label for="usernameInput">Username</label>
            <input id="usernameInput" type="text" class="form-control" name="usernameInput">
        </div>

        <div>
            <label for="passwordInput">Password</label>
            <input id="passwordInput" type="password" class="form-control" name="passwordInput">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

</container>

{{!-- link script --}}
<script src="/js/login.js"></script>