{{!-- headline --}}
<h2>Login</h2>

{{!-- login form --}}
<form action="" id="login">

    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword" >

    <button id="loginSubmit">Login</button>

</form>

{{!-- link script --}}
<script src="/js/login.js"></script>