{{!-- profile picture --}}
<container class="row">
    <form class="col-4" id="formImage">
        <img src={{image.url}} alt="Profile Photo" class="rounded-circle">
        <input type='file' name="photo" id="profileImage"/>
    </form>

    {{!-- user info --}}
    <div class="col-8">
        <h2>{{username}}</h2>

        <div id="yourRoutine">
            <h2>My Routine</h2>

            {{!-- ordered product list --}}
            {{> routine}}

        </div>

    </div>
</container>

{{!-- link script --}}
<script src="/js/profile.js"></script>