<container class="user-profile">

    {{!-- profile picture --}}
    <form class="profile-picture-container" id="formImage">
        <img class="profile-picture" src={{image.url}} alt="Profile Photo">
        <input id="profile-picture-upload" type='file' name="photo" accept=".jpg, .jpeg, .gif, .png">
        <label for="profile-picture-upload">Upload Photo<img id="camera-icon" src="/photos/icons.001.png" alt="Camera icon"></label>
    </form>

    {{!-- user info --}}
    <div class="user-info">

        <div class="profile-header">

            <h2>{{username}}</h2>

            <div class="routine-header">

                <h3>My Routine</h3>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
                    Add Product
                </button>

            </div>

        </div>

        <div id="yourRoutine">

            {{!-- ordered product list --}}
            {{> routine}}

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
                </div>

                <div class="modal-body">
                    <label for="newProduct" class="form-label">Product Title:</label>
                    <input type="text" name="newProduct" class="form-control" id="newProduct"
                        placeholder="Ex.: TeaTree Face Cleanser" autofocus>
                    <label for="productCategory" class="form-label">Product Type:</label>
                    <select id="productCategory" class="form-select" aria-label="Default select example">
                        <option value="" selected disabled hidden>Choose one:</option>
                        <option value="1">Cleanser</option>
                        <option value="2">Toner</option>
                        <option value="3">Serum</option>
                        <option value="4">Spot Treatment</option>
                        <option value="5">Moisturizer</option>
                        <option value="6">Anti Aging</option>
                        <option value="7">Face Oil</option>
                        <option value="8">Sunscreen</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitNewProduct" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

</container>

{{!-- link script --}}
<script src="/js/profile.js"></script>