{{!-- headline --}}
<h1 id="signup-title"class="text-center">Sign Up!</h1>

{{!-- signup form --}}
<container class="row align-items-center justify-content-center">

    <form id="signupSubmit">

        <div>
            <label for="usernameInput">Username</label>
            <input id="usernameInput" type="text" class="form-control" name="usernameInput">
        </div>

        <div>
            <label for="passwordInput">Password</label>
            <input id="passwordInput" type="password" class="form-control" name="passwordInput">
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-primary"></input>
        </div>

    </form>

</container>

{{!-- link script --}}
<script src="/js/signup.js"></script>