{{!-- headline --}}
<h2>Signup</h2>

{{!-- signup form --}}
<form action="" id="signup">

    <input type="text" placeholder="username" id="signupUsername">
    <input type="password" placeholder="password" id="signupPassword" >

    <button id="signupSubmit">Signup</button>

</form>

{{!-- link script --}}
<script src="/js/signup.js"></script>