/* colors */
:root {
    --light: white;
    --dark: black;
    --accent: bisque;
    --accent90: rgba(255, 228, 196, 0.9);
    --accentDark: rgb(255, 174, 75);
    --shadow: rgba(0, 0, 0, 0.50);
}

/* universal */
* {
    backdrop-filter: url(commonfilters.svg#filter);
}

/* body */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('/photos/orange.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background: var(--accent90);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px var(--shadow);
    padding: 30px;
}

/* hover effects (https://codepen.io/geoffgraham/pen/bxEVEN) */
.topbar {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;
    color: var(--dark);
    padding: 10px;
    margin-left: 15px;
}

.topbar:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.navbar {
    font-weight: bold;
}

h1 {
    font-family: 'Monoton', 'cursive';
    color: var(--accentDark);
    font-weight: bolder;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: var(--light);
}

/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* picture slideshow */
.slideshow-container {
    display: flex;
    overflow: hidden;
    height: 10%;
    width: 100%;
}

.mySlides {
    height: auto;
}

img {
    object-fit: cover;
    width: 100%;
}

.description {
    color: var(--light);
    text-shadow: 0px 0px 10px var(--shadow);
    padding: 60px;
}

/* footer */
footer {
    background: var(--accent90);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 30px;
}

.github {
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
}

#credit {
    font-weight: bold;
}

#shoutout {
    text-align: end;
    font-weight: bold;
}