/* colors and fonts */
/* font-family: 'Monoton', cursive;
font-family: 'Truculenta', sans-serif; */
/* green #A2E039 */
/* orange #FC8F2E */
/* yellow #F6F01D */

/* navbar */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.topbar {
    padding: 15px;
}

/* hover effects (https://codepen.io/geoffgraham/pen/bxEVEN) */
a.topbar {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
}

a.topbar:link {
    color: black;
}

a.topbar:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    color: white;
}

a.topbar:active {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: #A2E039;
    font-family: 'Truculenta', sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'Monoton', 'cursive';
    color: #FC8F2E;
    font-weight: bolder;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: white;
}

/* picture slideshow */
* {
    box-sizing: border-box
}

body {
    font-family: 'Truculenta', sans-serif;
    margin: 0;
    background-image: url('../photos/wallpaper1.jpg');
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: white;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #F6F01D;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #F6F01D;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* body */
p {
    font-family: 'Truculenta', sans-serif;
    font-weight: bold;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 45px;
}

/* footer */
footer {
    background-color: #FC8F2E;
    font-family: 'Truculenta', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: cover;
}

h5 {
    padding: 5px;
}

a#github {
    color: #000;
    text-decoration: none;
}

a#github:link {
    color: black;
}

a#github:hover {
    text-decoration: none;
    color: white;
}

a#github:active {
    color: white;
    text-decoration: none;
}

#credit {
    font-weight: bold;
}

#shoutout {
    text-align: end;
    font-weight: bold;
}